body {
    margin: 0;
    font-family: 'SimpsonFont', sans-serif;
    color: #000;
}

.hero-bg {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 2rem;
    color: #ffd90f;
}

.hero-logo {
    max-width: 900px;
    width: 80%;
    margin-bottom: 1.5rem;
}

.hero-text {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

.btn-warning {
    background-color: #ffd90f;
    border: none;
    color: #000;
    transition: all 0.3s;
}

.btn-warning:hover {
    background-color: transparent;
    border: 2px solid #ffd90f;
    color: #ffd90f;
}


.character-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    height: 350px;
    padding: 1.5rem;
}

.character-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #ffd90f, 0 0 20px #ffd90f, 0 0 30px #ffd90f;
}

.image-card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.image-card {
    background: #ffffff;
    border-radius: 1rem;
    transition: transform 0.4s ease;
}

.character-card:hover .image-card {
    transform: translateX(14px) rotate(3deg);
    box-shadow: 0 10px 25px #ffd90f;
}

.character-img {
    height: 150px;
    width: auto;
    display: block;
}

.info-pill, .status-badge {
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
}

.info-pill {
    background-color: #e0e0e0;
    color: #333;
}

.status-badge.alive { background-color: #4caf50; color: white; }
.status-badge.dead { background-color: #f44336; color: white; }
.status-badge.unknown { background-color: #9e9e9e; color: white; }

#characterModal {
    font-family: Arial, sans-serif;
}