body {
    margin: 0;
    font-family: 'SimpsonFont', sans-serif;
    color: #000;
}

.hero {
    height: 100vh;
    padding-top: 120px;
    background: url('background.jpg');
    background-size: cover;
    background-position: c enter;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffd90f;
}

.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(180%);
    z-index: 10;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-link:hover {
    color: #333;
}

.hero {
    min-height: 100vh;
    padding-top: 120px;
    color: #ffd90f;
}

.hero p {
    color: #ffffff;
}

.simpsons-font {
    font-family: 'SimpsonFont', sans-serif;
    letter-spacing: 3px;
}

.btn-warning {
    background-color: #ffd90f;
    border: none;
    color: #000;
}

.btn-warning:hover {
    background-color: #ffce00;
}

.about-section {
    min-height: 20vh;
    background-image: url('about.jpg');
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px rgba(253, 255, 235, 0.8);

}

.character-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #ffd90f, 0 0 20px #ffd90f, 0 0 30px #ffd90f;
}

#characterModal {
    font-family: Arial, sans-serif;
}